{
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    "arrow-spacing": "error",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "prefer-template": "error",
    "max-len": [
      "warn",
      {
        "code": 80,
        "ignoreStrings": true
      }
    ],
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_$"
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ]
  }
}